fastapi
uvicorn
pydantic-settings
python-dotenv
openai
langgraph
sentence-transformers
ddgs
trafilatura


langchain
langchain-chroma
langchain-huggingface
chromadb

langfuse
litellm

torch
transformers